.nav-tabs a{
  font-size: 1.2em;
}

.nav-tabs a[data-value~="Documentation"]{
  font-size: 1.2em;
  color: orange;
}

form hr{
  border-top: 1px solid #ccc;
}

.roundedCorner{
  padding: 15px;
  border: solid 1px #555;
  box-shadow: 3px -3px 3px  rgba(0,0,0,0.2);
  -moz-box-shadow: 3px -3px 3px  rgba(0,0,0,0.2);
  -webkit-box-shadow: 3px -3px 3px  rgba(0,0,0,0.2);
  -o-box-shadow: 3px -3px 3px  rgba(0,0,0,0.2);
  border-radius:10px;
}